<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style></style>
    <link rel="stylesheet" type="text/css" href="/workshop/static/css/footer.css">
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
</head>
<body>
    <footer>
        <div class="container">
            <div class="footer-content">
                <h3>Contact Me</h3>
                <p>Email: hansdy15@gmail.com</p>
                <p>Phone: (063) 9363677277</p>
                <p>Address: Benito Labao St., Poblacion, Iligan City</p>
            </div>
            <div class="footer-content">
                <h3>Quick Links</h3>
                 <ul class="list">
                    <li><a href="">Home</a></li>
                    <li><a href="">Skills</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                 </ul>
            </div>
            <div class="footer-content">
                <h3>Follow Me</h3>
                <ul class="social-icons">
                 <li><a href=""><i class="fab fa-facebook"></i></a></li>
                 <li><a href=""><i class="fab fa-twitter"></i></a></li>
                 <li><a href=""><i class="fab fa-instagram"></i></a></li>
                 <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
                </div>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2024 Hans Dy . All rights reserved</p>
        </div>
    </footer>
</body>
</html>